
@{
    ViewData["Title"] = "View Appointments";
}

@model List<Appointment>



<h1>Appointments</h1>
<div class="line">


    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Appointment Id</td>
                <td>Appointment Time</td>
                <td>Group Name</td>
                <td>Group Size</td>
                <td>Email</td>
                <td>Phone</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.AppointmentId</td>
                    <td>@x.GroupName</td>
                    <td>@x.GroupSize</td>
                    <td>@x.Email</td>
                    <td>@x.Phone</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route="@x.AppointmentId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route="@x.AppointmentId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>